<div class="line-container">
    <div class="horizontal-line"></div>
  </div>
  <footer class="footer">
    <div class="footer__section">
      <h2 class="footer__heading">OM OSS</h2>
      <ul class="footer__list">
        <% footerSection1.forEach(item => { %>
            <li class="footer__item">
                <a href="/<%= item.link %>" class="footer__link">
                    <%= item.label %>
                </a>
            </li>
        <% }); %>
      </ul>
    </div>
    <div class="footer__section">
      <h2 class="footer__heading">BIOUPPLEVELSER</h2>
      <ul class="footer__list">
        <% footerSection2.forEach(item => { %>
            <li class="footer__item">
                <a href="/<%= item.link %>" class="footer__link">
                    <%= item.label %>
                </a>
            </li>
        <% }); %>
      </ul>
    </div>
    <div class="footer__section">
      <h2 class="footer__heading">SOCIALT</h2>
      <ul class="footer__list">
        <% footerSection3.forEach(item => { %>
            <li class="footer__item">
                <a href="/<%= item.link %>" class="footer__link">
                    <%= item.label %>
                </a>
            </li>
        <% }); %>
      </ul>
    </div>
  </footer>

  <script type="module" src="/static/dist/compiledJS.js"></script>
</body>
</html>